# Node-moduler
node_modules/

# Loggfiler
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Byggmappar
build/
dist/

# ESLint cache
.eslintcache

# Dependency directories
jspm_packages/

# Typescript cache
*.tsbuildinfo

# .env filer
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignorera lock-filer från pakethanterare
package-lock.json
yarn.lock

# IDE och redigerare specifika filer
.vscode/
.idea/
.DS_Store
Thumbs.db

# MacOS-specifika systemfiler
*.DS_Store

# Loggar
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# Coverage-mapp som skapas av testverktyg som Jest
coverage/

# Temporary files
*.swp
*.swo
